p {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }
  .exam-title{
    font-weight: bold;
  }
.current-question {
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  p {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }
}
.current-question-answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  div {
    cursor: pointer;
    width: 100%;
    border-radius: 1rem;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    border: 2px solid #374151;
    transition-duration: 0.3s;

    span {
      pointer-events: none;
      border: 3px solid #374151;
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      border-radius: 50%;
      border-radius: 50%;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
    }
    p {
      pointer-events: none;
      font-weight: bold;
      font-size: 1.2;
    }
  }

  .selected,
  div:hover {
    background-color: #374151;
    border: 2px solid #374151;

    color: white;

    span {
      border: 3px solid #ffffff;
    }
  }
}
.hover-text {
  display: none;
}

.show-hover-text {
  display: block;
}
.dot-menu {
  transform: scaleY(0);
}

.hide-dot-menu {
  transform: scaleY(1);
}

/* fixed */

.myfixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.myquestions-container-relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.myabsolute-hide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #374151d9;
}

.myquestions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  //border-radius: 3rem;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.062);
  z-index: 150;
  padding: 2rem;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  @media screen and (max-width: 550px) {
    width: 300px;
  }
}

.mytoggle-fixed {
  pointer-events: all;
  opacity: 1;
}

.mytoggle-QuestionsWrapper {
  transform: scale(1);
}
.myquestions-wrapper h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  //margin-top: 1rem;
  //margin-bottom: 2rem;
  border-bottom: 2px solid #374151;
  padding-bottom: 2rem;
  @media screen and (max-width: 550px) {
    font-size: 1.2rem;
  }
}

.myactual-questions-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  //background-color: green;
  gap: 2rem;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.myquestion {
  border: 2px dashed #f345a4;
  color: #374151;
  background-color: #f345a4;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

button[disabled] {
  cursor: no-drop;
}
button[disabled]:hover {
  transform: scale(1);
}
.selected-popup-question {
  background-color: #47f177;
  border: 2px solid #47f177;
  color: white;
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.location-icon {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #374151;
}

.disable-timer {
  display: none;
}

input {
  border: 2px solid #374151;
  border-radius: 0.5rem;
  margin-top: 2rem;
  color: #374151;
  padding: 0.3rem;
  width: 190px;
}
input::placeholder {
  color: #374151;
  font-size: 0.9rem;
}


.result-container{
  h3{
    font-weight: bold;
  }
  
  a{
    font-weight: bold;
padding-inline: 1rem;
padding-block: 0.5rem;
background-color: #374151;
color: white;
border: 2px solid #374151;
transition: all 0.3s ease-in-out;
border-radius: 0.7rem;
  }
  a:hover{
color: #374151;
background-color: white;
border: 2px solid #374151;
  }
}